name: Mirror to Gitee

on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # ✅ 关键，防止 shallow update 错误

      - name: Mirror to Gitee
        env:
          GITEE_TOKEN: ${{ secrets.GITEE_TOKEN }}
        run: |
          git remote add gitee https://leex0062:${GITEE_TOKEN}@gitee.com/leex0062/linux-bash.git
          git push -f gitee main
